.nav {
  background-color: #1d1d1d;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: fixed;
  left: -20%;
  top: 0;
  width: 20%;
  z-index: 2;
  animation: slide 1s ease-out forwards;
}
@keyframes slide {
  0% {
    left: -20%;
  }
  100% {
    left: 0;
  }
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 200px;
  width: 100%;
  padding: 30px 0;
  background-color: #141414;
}
.intro img {
  width: 100px;
}
.nav h3 {
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}
.nav p {
  margin-top: 5px;
  padding: 0;
  letter-spacing: 2px;
}
.buttons {
  margin-top: 100px;
  width: 100%;
}
.button {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px 0 20px 70px;
  margin: 0;
  transition: 0.2s all;
}
.button:hover {
  cursor: pointer;
  background-color: #272727;
}

.button i {
  margin: 0;
  padding: 0;
}
.button p {
  font-size: 1.2rem;
  margin: 0 0 0 10px;
  padding: 0%;
}
.social {
  margin-top: 200px;
}
.social i {
  color: white;
  margin: 20px;
}
